@import '../../../styles.scss';

footer {
    background-color: $secondary-background-color;
}

.title {
    color: #f0f0f0;
}

.nav-link {
    color: #fff;
    cursor: pointer;
}

.active {
    color: $accent-color;
}

.logo {
    cursor: pointer;
}