<footer class="py-4 col-12">
    <div class="border-bottom">
        <ul class="nav justify-content-center pb-3">
            <li><a (click)="goToHome()" [class.active]="activeLink === '/home'" class="nav-link px-2">Home</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a (click)="goToTools()" [class.active]="activeLink === '/tools'" class="nav-link px-2">Tools</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a (click)="goToExercises()" [class.active]="activeLink.includes('/exercises')" class="nav-link px-2">Exercises</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a (click)="goToAbout()" [class.active]="activeLink === '/about'" class="nav-link px-2">About</a></li>
        </ul>
    </div>
    <div (click)="goToHome()" class="d-flex align-items-center logo justify-content-center mt-3">
        <img src="../../../assets/icon-white.svg" alt="MuscleUp icon" width="36" height="36" class="pb-1">
        <h2 class="pe-5 ps-1 title">MuscleUp</h2>
    </div>
</footer>