<header class="py-3 mb-2 position-relative col-12 top-0 border-bottom">
  <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">

    <!-- Burger menu, only shown on Small and XSmall screen sizes -->
    @if (responsiveService.screenSize === 'Small' ||
         responsiveService.screenSize === 'XSmall') {
      <div class="dropdown pe-1">
        <a href="#" class="d-block text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/img/burger-menu-white.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="triggerId">
          <a class="dropdown-item" (click)="goToHome()">Home</a>
          <a class="dropdown-item" (click)="goToTools()">Tools</a>
          <a class="dropdown-item" (click)="goToExercises()">Exercises</a>
          <a class="dropdown-item" (click)="goToAbout()">About</a>
        </div>
      </div>
    }

    <!-- MuscleUp logo, hidden if the searchbar is activated while screen size is XSmall -->
    @if (!isSearchActive || responsiveService.screenSize !== 'XSmall') {
      <div (click)="goToHome()" class="d-flex align-items-center logo ps-2">
        <img src="../../../assets/icon-white.svg" alt="MuscleUp icon" width="32" height="32" class="pb-1">
        <h2 class="ps-1 text-light">MuscleUp</h2>
      </div>
    }

    <!-- Main navbar, only shown in Medium, Large and XLarge screen sizes -->
    @if (responsiveService.screenSize !== 'Small' &&
         responsiveService.screenSize !== 'XSmall') {
      <ul class="nav">
        <li> <a (click)="goToHome()" [class.active]="activeLink === '/home'" class="urbanist nav-link px-2">Home</a> </li>
        <li> <a (click)="goToTools()" [class.active]="activeLink === '/tools'" class="urbanist nav-link px-2">Tools</a> </li>
        <li> <a (click)="goToExercises()" [class.active]="activeLink.includes('/exercises')" class="urbanist nav-link px-2">Exercises</a> </li>
        <li> <a (click)="goToAbout()" [class.active]="activeLink === '/about'" class="urbanist nav-link px-2">About</a> </li>
      </ul>
    }
    
    <!-- Right-anchored container for search function and user profile -->
    <div class="d-flex align-items-center">
      
      <!-- Search function, shows a lens icon if screen size is XSmall and renables searchbar if icon is clicked -->
      @if (responsiveService.screenSize !== 'XSmall') {
        <form class="pe-3" role="search">
          <input type="search" class="form-control pe-5" placeholder="Search..." aria-label="Search">
        </form>
      } @else {
        @if (isSearchActive) {
          <form class="pe-1 " role="search">
            <input type="search" class="form-control form-control-sm" placeholder="Search..." aria-label="Search">
          </form>
        }
        <img src="../../../assets/img/search-white.png" alt="search" width="32" height="32" class="me-1" (click)="toggleSearch()">
      }

      <!-- User profile, contains log in and sign up option in dropdown menu -->
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/img/user-white.png" alt="mdo" width="28" height="28" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Log in</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign up</a></li>
        </ul>
      </div>

    </div>
    
  </div>
</header>