@import '../../../styles.scss';

header {
    background-color: $background-color;
}

.title {
    color: #f0f0f0;
}

.sign-up {
    background-color: $accent-color;
}

.home {
    color: $accent-color;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.dropdown-toggle::after {
    color: #fff;
}

.logo {
    cursor: pointer;
}

.nav-link {
    color: #fff;
}

.active {
    color: $accent-color;
}