@import '../../../styles.scss';

header {
    background-color: $secondary-background-color;

    .dropdown {
        .dropdown-toggle::after {
            color: $white;
        }
    
        .dropdown-item {
            cursor: pointer;
        }
    }
    
    .logo {
        cursor: pointer;

        h2 {
            margin: 0;
        }
    }
    
    .nav {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    
        .nav-link {
            position: relative;
            color: $white;
            padding: 0.5rem 1rem;
            font-size: 110%;
            cursor: pointer;
        }
    
        .nav-link.active::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 3px;
            background-color: $accent-color;
        }
    
        .nav-link.active {
            color: $accent-color;
            font-weight: 500;
        }
    }
}
