@import '../../../styles.scss';

header {
    background-color: $background-color;
}

.title {
    color: #f0f0f0;
}

.sign-up {
    background-color: $accent-color;
}

.home {
    color: $accent-color;
}