  <div class="bodymap-container p-3">
    @if (responsiveService.screenSize === 'Small' || responsiveService.screenSize === 'XSmall') {
      <div class="row">
        <div class="bodymap mb-3">
          <mu-bodymap name="maleFront"></mu-bodymap>
        </div>
        <div class="bodymap mt-4">
          <mu-bodymap name="maleBack"></mu-bodymap>
        </div>
      </div>
    } @else {
      <div class="row">
        <div class="bodymap col-lg-3 me-5">
          <mu-bodymap name="maleFront"></mu-bodymap>
        </div>
        <div class="bodymap col-lg-3">
          <mu-bodymap name="maleBack"></mu-bodymap>
        </div>
      </div>
    }
  </div>
  