<div class="mx-4 py-4">
  <div class="row">
    <div class="col-md-6">
      <div class="tool h-100 p-5 rounded-3">
        <h2>Calories calculator</h2>
        <p>A tool to estimate the daily calorie intake needed to maintain, lose, or gain weight based on personal data like age, gender, weight, height, and activity level. This will help you manage yout diet and achieve your fitness goals.</p>
        <button class="btn" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="tool h-100 p-5 border rounded-3">
        <h2>Macro calculator</h2>
        <p>A macronutrient calculator estimates the ideal daily intake of protein, carbohydrates, and fats. This will help you balance your diet and optimize your nutrition.</p>
        <button class="btn" type="button">Example button</button>
      </div>
    </div>
  </div>
</div>